.svn
Makefile
src/config.h
src/config.log
src/config.status
src/machine.h
src/settings/psyced-current
*.o
src/bytecode_gen.h
src/efun_defs.c
src/instrs.h
src/lang.c
src/lang.h
src/lang.y
src/ldmud
src/make_func.c
src/mkfunc
src/patchlevel.h
src/pkg-psyc.c
src/pkg-psyc.h
src/stdstrings.c
src/stdstrings.h
src/util/erq/erq
src/util/indent/indent
src/y.output
